.navbar {
    overflow: auto;
    white-space: nowrap;
    background-color: #222;
    width: 300px;
}

.navbar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px;
}

.navbar a:hover {
    background: #777;
}
