.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition-property: width;
    transition-duration: 0.5s;
    background-color: #111;
}

.sidebar a {
    display: block;
    text-decoration-line: none;
    color: #818181;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    transition-duration: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#openSidebar {
    margin-left: 100px;
    background-color: #111;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;;
    }
}